.navbar {
  background-color: rgb(130, 197, 63);
}
.navbar-brand {
  color: #fff;
}
.header-image {
    color: #fff;
  padding-top: 8rem;
  padding-bottom: 8rem;
  /* height: 70vh; */
  background-color: darkgreen;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images/header-background.jpg');
  /* background-image: url("images/header-background.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

